@import '~style/helpers';

.container {
	display: flex;
	flex-direction: column;
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 10px;
	margin: 0 auto;
	background-color: blue;
	//border: solid red;
	background-image: url('https://cdn.allwallpaper.in/wallpapers/414x736/13914/landscapes-nature-hawaii-five-oahu-cities-414x736-wallpaper.jpg');
}
.header {
	//display: flex;
	position: relative;
	bottom: 11px;
	//flex: 1;
	//border: solid white;
	height: 110px;
}
.footer {
	display: flex;
	height: 100px;
}

.courtsText {
	position : relative;
	bottom: 15px;
	//color: red;
}

.textFieldDiv {
	//border: solid red;
	position: relative;
	height: 50px;
	bottom: 30px;
}

.location {
	font-size: x-large;
	padding-right: 0;
	position: relative;
	top: 5px;
	padding-right: 5px;
}

.inputTag {
	position: relative;
	background: transparent;
	height: 30px;
	width: 170px;
	color: white;
	font-size: 12px;
}

.bodyDiv {
	position: relative;
	bottom: 10px;
	//border: solid blue;
	height: 570px;
	overflow-y: scroll;
}

.buttonsDiv {
	//border: solid white;
	padding: none;
	position: relative;
	width: auto;
	height: auto;

}

.searchButton {
	position: relative;
	width: auto;
	top: 3px;
	height: 20px;
}

.button {
		background-color: #4CAF50; /* Green */
    border: solid 1px grey;
    color: white;
		width: auto;
    padding: 15px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
