

.topContainer{
  background-color: black;
}

.imageDiv{
  background-color: #0000FF;
  //height: 100px;
}

.backButton{
  position: relative;
  right: 175px;
  bottom: 17px;
  width: 60px;
  height: 50px;
}

.bodyDiv{
  background-color: #673AB7;
  padding: 10px 10px 10px 10px;
}
